openapi: 3.0.1
info:
  title: public
  description: Free API to preview trade data. No subscription key required. See examples at https://bit.ly/42JNSaZ
  version: v1
servers:
  - url: https://comtradeapi.un.org/public/v1
paths:
  '/preview/{typeCode}/{freqCode}/{clCode}':
    get:
      summary: preview
      description: preview
      operationId: get-preview
      parameters:
        - name: typeCode
          in: path
          description: 'Type of trade: C for commodities and S for service'
          required: true
          schema:
            enum:
              - C
              - S
            type: string
        - name: freqCode
          in: path
          description: 'Trade frequency: A for annual and M for monthly'
          required: true
          schema:
            enum:
              - A
              - M
            type: string
        - name: clCode
          in: path
          description: 'Trade (IMTS) classifications: HS, SS, BE or EB.'
          required: true
          schema:
            enum:
              - HS
              - H6
              - H5
              - H4
              - H3
              - H2
              - H1
              - H0
              - S4
              - S3
              - S2
              - S1
              - BE
              - BE5
              - EB
              - EB10
              - EB02
              - EBS
            type: string
        - name: reporterCode
          in: query
          description: 'Reporter code (Possible values are M49 code of the countries separated by comma (,))'
          schema:
            type: string
        - name: period
          in: query
          description: 'Year or month. Year should be 4 digit year. Month should be six digit integer with the values of the form YYYYMM. Ex: 201002 for 2010 February. Maximum 1 period for preview'
          schema:
            type: string
        - name: partnerCode
          in: query
          description: 'Partner code (Possible values are M49 code of the countries separated by comma (,))'
          schema:
            type: string
        - name: cmdCode
          in: query
          description: Commodity code. Maximum 1 commodity code for preview
          schema:
            type: string
        - name: flowCode
          in: query
          description: 'Trade flow code. Multi value input should be in the form of csv (Codes separated by comma (,))'
          schema:
            enum:
              - M
              - X
              - RX
              - RM
              - MIP
              - XIP
              - MOP
              - XOP
              - MIF
              - XIF
              - DX
              - FM
            type: string
      responses:
        '200':
          description: 'null'
  '/previewTariffline/{typeCode}/{freqCode}/{clCode}':
    get:
      tags:
        - tariffline
      summary: previewTariffline
      description: previewTariffline
      operationId: previewtariffline
      parameters:
        - name: typeCode
          in: path
          description: 'Type of trade: C for commodities and S for service'
          required: true
          schema:
            enum:
              - C
              - S
            type: string
        - name: freqCode
          in: path
          description: 'Trade frequency: A for annual and M for monthly'
          required: true
          schema:
            enum:
              - A
              - M
            type: string
        - name: clCode
          in: path
          description: 'Trade (IMTS) classifications: HS, SITC, BEC or EBOPS.'
          required: true
          schema:
            enum:
              - HS
              - H6
              - H5
              - H4
              - H3
              - H2
              - H1
              - H0
              - S4
              - S3
              - S2
              - S1
              - BE
              - BE5
              - EB
              - EB10
              - EB02
              - EBSDMX
            type: string
        - name: reporterCode
          in: query
          description: 'Reporter code (Possible values are M49 code of the countries separated by comma (,))'
          schema:
            type: string
        - name: period
          in: query
          description: 'Year or month. Year should be 4 digit year. Month should be six digit integer with the values of the form YYYYMM. Ex: 201002 for 2010 February. Multi value input should be in the form of csv (Codes separated by comma (,))'
          schema:
            type: string
        - name: partnerCode
          in: query
          description: 'Partner code (Possible values are M49 code of the countries separated by comma (,))'
          schema:
            type: string
        - name: partner2Code
          in: query
          description: 'Second partner/consignment code (Possible values are M49 code of the countries separated by comma (,))'
          schema:
            type: string
        - name: cmdCode
          in: query
          description: 'Commodity code. Multi value input should be in the form of csv (Codes separated by comma (,))'
          schema:
            type: string
        - name: flowCode
          in: query
          description: 'Trade flow code. Multi value input should be in the form of csv (Codes separated by comma (,))'
          schema:
            enum:
              - '-1'
              - M
              - X
              - RX
              - RM
              - MIP
              - XIP
              - MOP
              - XOP
              - MIF
              - XIF
              - DX
              - FM
            type: string
        - name: customsCode
          in: query
          description: 'Customs code. Multi value input should be in the form of csv (Codes separated by comma (,))'
          schema:
            enum:
              - '-1'
              - C01
              - C02
              - C03
              - C04
              - C05
              - C06
              - C07
              - C08
              - C09
              - C10
              - C11
              - C12
              - C13
              - C14
              - C15
              - C20
            type: string
        - name: motCode
          in: query
          description: 'Mode of transport code. Multi value input should be in the form of csv (Codes separated by comma (,))'
          schema:
            enum:
              - '-1'
              - '1000'
              - '2000'
              - '2100'
              - '2200'
              - '2900'
              - '3000'
              - '3100'
              - '3200'
              - '3900'
              - '9000'
              - '9100'
              - '9110'
              - '9120'
              - '9190'
              - '9200'
              - '9300'
              - '9900'
            type: string
      responses:
        '200':
          description: 'null'
  /getComtradeReleases:
    get:
      summary: getComtradeReleases
      description: preview
      operationId: 65ee390ccf5b6fd0ea10bfed
      responses:
        '200':
          description: 'null'
  '/getMetadata/{typeCode}/{freqCode}/{clCode}':
    get:
      summary: getMetadata
      description: preview
      operationId: 65efa6f5f463e8685dceb32e
      parameters:
        - name: typeCode
          in: path
          required: true
          schema:
            type: ''
        - name: freqCode
          in: path
          required: true
          schema:
            type: ''
        - name: clCode
          in: path
          required: true
          schema:
            type: ''
      responses:
        '200':
          description: 'null'
  '/getDA/{typeCode}/{freqCode}/{clCode}':
    get:
      summary: getDA
      description: preview
      operationId: 65f077a6051fa0fdd082aef7
      parameters:
        - name: typeCode
          in: path
          required: true
          schema:
            type: ''
        - name: freqCode
          in: path
          required: true
          schema:
            type: ''
        - name: clCode
          in: path
          required: true
          schema:
            type: ''
      responses:
        '200':
          description: 'null'
  '/getDATariffline/{typeCode}/{freqCode}/{clCode}':
    get:
      summary: getDATariffline
      description: preview
      operationId: 65f077e8e97a79f5243be267
      parameters:
        - name: typeCode
          in: path
          required: true
          schema:
            type: ''
        - name: freqCode
          in: path
          required: true
          schema:
            type: ''
        - name: clCode
          in: path
          required: true
          schema:
            type: ''
      responses:
        '200':
          description: 'null'
  '/getWorldShare/{typeCode}/{freqCode}':
    get:
      summary: getWorldShare
      description: preview
      operationId: 66abc37fcbedb74c48662189
      parameters:
        - name: typeCode
          in: path
          required: true
          schema:
            enum:
              - C
              - S
            type: string
        - name: freqCode
          in: path
          required: true
          schema:
            enum:
              - A
              - M
            type: string
        - name: period
          in: query
          schema:
            type: int
        - name: reporterCode
          in: query
          schema:
            type: int
      responses:
        '200':
          description: 'null'
  /getMBS:
    get:
      tags:
        - MBSData
      summary: getMBS
      description: "The MBS data API gives users access to historical time series of MBS trade tables, notably Tables 38 and 35. Data availability and frequency of update depend on data series.\nT35 Total trade - value (1946-)\nT38 Conversion factors (1946-)"
      operationId: 66e492eb9ae7f2d65a9459c4
      parameters:
        - name: series_type
          in: query
          description: 'Combination of table number, frequency, type of measurement and currenty. T35.Q.V.$ T35.A.V.$ T38.Q.CF. T38.A.CF. T35.M.V.$ T38.M.CF.'
          schema:
            enum:
              - T35.Q.V.$
              - T35.A.V.$
              - T38.Q.CF.
              - T38.A.CF.
              - T35.M.V.$
              - T38.M.CF.
            type: string
        - name: year
          in: query
          description: 'Reference year (default = any):The reference year of period. As an example: 2015,2016'
          schema:
            type: string
        - name: country_code
          in: query
          description: 'Country code (Possible values are M49 code of the countries separated by comma (,))'
          schema:
            type: string
        - name: period
          in: query
          description: 'Year or month. Year should be 4 digit year. Month should be six digit integer with the values of the form YYYYMM. Ex: 201002 for 2010 February. Multi value input should be in the form of csv (Codes separated by comma (,))'
          schema:
            type: string
        - name: period_type
          in: query
          description: "data set frequency: Valid values:\nA Annual\nQ Quarterly\nM Monthly"
          schema:
            enum:
              - A
              - Q
              - M
            type: string
        - name: table_type
          in: query
          description: '(default = any) MBS Table numbers: MBS and ITSY table identifier.'
          schema:
            enum:
              - T35
              - T38
            type: string
        - name: format
          in: query
          description: 'Output format (default = json): Valid value are json, txt or csv'
          schema:
            enum:
              - csv
              - txt
              - json
            type: string
            default: json
      responses:
        '200':
          description: 'null'
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
security:
  - { }
  - apiKeyHeader: [ ]
  - apiKeyQuery: [ ]